In [3]:
import pandas as pd

In [4]:
# CNN performance on data normalized by max value over entire data
results = pd.read_csv('results-max-all.csv')
results.head()

,Unnamed: 0,norm_1_data.csv,nthroot_0.4828.csv,nthroot_0.5172.csv,norm_31.csv,nthroot_0.5862_data.csv,nthroot_0.7931.csv,nthroot_0.5862.csv,nthroot_0.4483_data.csv,nthroot_1.0.csv,...,nthroot_0.2069_data.csv,norm_5_data.csv,nthroot_0.7931_data.csv,nthroot_0.4483.csv,norm_2.csv,nthroot_log.csv,nthroot_0.9655.csv,nthroot_log_data.csv,norm_1.csv,norm_5.csv
0,0,0.765364,0.743717,0.740415,0.547973,0.737296,0.714548,0.728307,0.742983,0.698221,...,0.788112,0.740415,0.709778,0.755825,0.744084,0.773803,0.670336,0.764263,0.765731,0.738213
1,1,0.768666,0.734361,0.743717,0.547973,0.710328,0.710328,0.733627,0.767199,0.696569,...,0.786278,0.735645,0.717300,0.754174,0.754174,0.773620,0.596588,0.762796,0.759677,0.735828
2,2,0.771051,0.748120,0.744267,0.547973,0.723904,0.714915,0.734911,0.750688,0.586314,...,0.784627,0.743717,0.709778,0.747019,0.749587,0.765915,0.691800,0.789213,0.770501,0.742616

In [5]:

results.iloc[0].nlargest(10)

nthroot_0.1379.csv         0.790314
nthroot_0.2069_data.csv    0.788112
nthroot_0.1724_data.csv    0.785727
nthroot_0.2069.csv         0.785727
nthroot_0.1034.csv         0.784994
nthroot_0.1724.csv         0.784627
nthroot_0.2414.csv         0.782609
nthroot_0.1379_data.csv    0.781875
nthroot_0.2759.csv         0.781141
nthroot_0.2414_data.csv    0.775087
Name: 0, dtype: float64

In [9]:
# CNN performance on data normalized by max value over each image
results = pd.read_csv('results-max-only.csv')

results.iloc[0].nlargest(10)

norm_21.csv             0.768850
nthroot_mm0.5517.csv    0.768299
nthroot_log.csv         0.766281
nthroot_0.3103.csv      0.765548
nthroot_0.3448.csv      0.763346
nthroot_0.2069.csv      0.762429
nthroot_mm0.5172.csv    0.761695
nthroot_mm0.4138.csv    0.761328
nthroot_mm0.6552.csv    0.760411
nthroot_0.2414.csv      0.759861
Name: 0, dtype: float64